body{
    background-color:#FEFFE4;
    font-family:"Josefin slab", serif;
}
.navbar{
    background-color:#FF9884;
    box-shadow:0px 2px 2px;
}
.nodisplay{
    display:none;
}
.page-brand{
    font-size:50px;
    font-family:"Pacifico",cursive;
    color:#580F0F;
}
.page-brand:hover{
    color:#7E4747;
}
.nav-link{
    font-size:25px;
    color:#795151;
}
.nav-link:hover{
    color:#3D2929;
    border-bottom:1px dotted #3D2929;
}
.banner{
    height:40em;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.banner-text{
    color:#580F0F;
    font-size:9.5em;
    text-align:center;
    opacity:1;
} 
.banner-image{
    position:absolute;
    width:100%;
    height:40em;
    margin-bottom:42em;
    object-fit:cover;
}
#img2,#img3{
    margin-left:0%;
    margin-bottom:42em;
    margin-right:0%;
    display:none;
}
.banner-selector{
    list-style:none;
    display:flex;
    justify-content:space-around;
}
.banner-dots{
    border:3px solid black;
    width:20px;
    height:20px;
    border-radius:100%;
}
.active-dot{
    background-color:#FF9884;
}
.dot-wrapper{
    margin-left:-2%;
    width:15%;
}
.carousel-buttons-wrapper{
    margin-top:2%;
    display:flex;
    justify-content:space-around;
}
.flaticon-back:hover{
    cursor:pointer;
}
.flaticon-right-arrow:hover{
    cursor:pointer;
}

.banner-text-background{
    background-color:rgba(255,255,255,0.75);
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    position:absolute;
    z-index:1;
    width:50%;
}
.banner-text-border{
    border: 5px dotted #EF3838;
    margin:3%;
}
.content{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    color:#580F0F;
}
.content-h1{    
    color:#580F0F;
    font-size:5em;
    border-bottom:1px solid black;
}
#gallery{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    width:100%;
    margin-bottom:5%;
}
.gallery-wrapper{
    width:90%;
    display:grid;
    justify-items:center;
    align-items:center;
    grid-template-columns:[col1] 22% [col2] 22% [col3] 22% [col4] 22% [col5] auto;
    grid-template-rows: [row1] 400px [row2] 400px [row3] auto;
    grid-column-gap:5%;
    grid-row-gap:5%;
}
.gallery-wrapper > img:hover{
    cursor:pointer;
    box-shadow:1px 1px 5px;
}

#galleryItem1{
    grid-column-start:col1;
    grid-column-end:col2;
    grid-row-start:row1;
    grid-row-end:row2;
    width:100%;
    height:100%;
}

#galleryItem2{
    grid-column-start:col2;
    grid-column-end:col3;
    grid-row-start:row1;
    grid-row-end:row2;
    width:100%;
    height:100%;
}

#galleryItem3{
    grid-column-start:col3;
    grid-column-end:col4;
    grid-row-start:row1;
    grid-row-end:row2;
    width:100%;
    height:100%;
} 

#galleryItem4{
    grid-column-start:col4;
    grid-column-end:col5;
    grid-row-start:row1;
    grid-row-end:row2;
    width:100%;
    height:100%;
}
#galleryItem5{
    grid-column-start:col1;
    grid-column-end:col2;
    grid-row-start:row2;
    grid-row-end:row3;
    width:100%;
    height:100%;
}

#galleryItem6{
    grid-column-start:col2;
    grid-column-end:col3;
    grid-row-start:row2;
    grid-row-end:row3;
    width:100%;
    height:100%;
}

#galleryItem7{
    grid-column-start:col3;
    grid-column-end:col5;
    grid-row-start:row2;
    grid-row-end:row3;
    width:100%;
    height:100%;
}



.content-p{
    text-align:center;
    font-size:2em;
}
#message{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    width:50%;
    margin-bottom:5%;
}

